.intro{
    
    padding:100px;
    text-align: center;
    gap:10px;
    align-content: center;
    box-shadow :5rem;
    height: calc(100vh);
}



button{
    border-radius: 8px;
     padding: 10px;
     background-color: red;
     border: none;
     color: black;
     font-size: 20px;
}