{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Alex-Oduor</title>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <script src="https://kit.fontawesome.com/0b53bbef8d.js" crossorigin="anonymous"></script>
        
    </head>
  <body>
    <div class="container">
            <header>
                <div class="logo">Alex Oduor</div>
                <nav>
                    <ul>
                        <li><a href="">Projects</a></li>
                        <li><a href="#socials">Contact</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </nav>
            </header>

            <div class="content">
            
               {% block content %} {% endblock %}
               

            </div>
            
    </div>

    <footer>

            <div id ="socials" class="socials">
                    <a href="https://x.com/zero_mediocre"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://github.com/Alex-Oduor"><i class="fa-brands fa-github"></i></a>
                    <a href="https://wa.me/254794510826" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
            </div>

                Alex-Oduor &copy; 2025 

    </footer>

  </body>
</html>